
<div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
            <a class="nav-link" aria-current="true" [routerLink]="['/home']">Inicio</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/clientes']">Clientes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/proveedores']">Proveedores</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/ayuda']">Axuda</a>
        </li>
    </ul>
</div>